<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>776984139886-31hoihhk476ej2v25kftagfkcvubs8a4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmb1PZb2vs4-bNuVCzHhXVuSf6h-xvczw</string>
	<key>GCM_SENDER_ID</key>
	<string>776984139886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iod.opakunew</string>
	<key>PROJECT_ID</key>
	<string>testingtracker-2d31c</string>
	<key>STORAGE_BUCKET</key>
	<string>testingtracker-2d31c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776984139886:ios:0549ccfaca8703fbecae7f</string>
	<key>DATABASE_URL</key>
	<string>https://testingtracker-2d31c.firebaseio.com</string>
</dict>
</plist>